body {
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
  color: hsl(210, 10%, 33%);
}

p {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 600;
}

.logo-img {
  display: block;
  margin: auto;
  padding-top: 10%;
  padding: 10% 1% 1%;
}

.desktop-img {
  position: relative;
  float: left;
  margin-left: -75px;
}

.paragraph {
  margin: auto;
  width: 50%;
  padding: 1%;
}

.btn {
  height: 55px;
  width: 250px;
  border-radius: 50px;
  color: #fff;
  margin: 2%;
}

.ios-btn {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 5px 10px 10px #E1E1E1, inset 0 -1px 1px 1px #209565;
}

.mac-btn {
  background-color: hsl(233, 100%, 69%);
  box-shadow:  5px 10px 10px #E1E1E1, inset 0 -1px 2px 2px #5566A2;
}

.snippets-p {
  margin-top: 5%;
  margin-bottom: 2%;
}

.features {
  text-align: left;
  padding: 3%;
}

.feature-item {
  margin-top: 3%;
  padding: 2%;
  width: 70%;
}

.device-img {
  margin-top: 5%;
}

#tools {
  padding: 5%;
}

#press {
  padding: 5%;
}

.press-logo {
  margin: 3%;
}

#footer {
  background-color: #EFEFEF;
  padding: 4%;
  text-align: left;
  margin-top: 8%;
}

.footer-links {
  padding: 3%;
}

.footer-img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 7%;
}

.social-icons {
  margin: auto;
  padding: 5%;
}

@media (max-width: 550px) {
  body {

    text-align: center;
  }

  #logo-img {
    padding: 8%;
  }

  .features {
    text-align: center;
  }

  #desktop-img {
    position: relative;
    height: 80%;
    width: 80%;
    margin-left: auto;
    margin: auto;
    float: none;
  }

  .feature-item {
    margin: auto;
    padding: 8%;
    text-align: center;
  }

  .tool-box{
    padding: 5%;
  }

  .device-img {
    height: 80%;
    width: 80%;
    float: center;
    margin-left: auto;
  }

  #press {
    padding: 3%;
  }

  .press-logo {
    padding: 8%;
  }

  #footer {
    text-align: center;
    margin-top: 20%;
    padding: 15%;
  }

  .footer-img {
    float: none;
    margin-right: auto;
    margin-bottom: 15%;
  }

  .social-footer {
    padding-top: 15%;
  }
}
