body {
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  text-align:center;
  font-family: 'Bai Jamjuree', sans-serif;
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}

p {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 600;
}

#logo-img {
  display: block;
  margin: auto;
  padding-top: 10%;
  padding: 10% 1% 1%;
}

#desktop-img {
  position: relative;
  float: left;
  margin-left: -75px;
}

.paragraph {
  margin: auto;
  width: 50%;
  padding: 1%;
}

.btn {
  height: 55px;
  width: 250px;
  border-radius: 50px;
  color: #fff;
  margin: 2%;

}

.ios-btn {
  background-color: hsl(171, 66%, 44%);
}

.mac-btn {
  background-color: hsl(233, 100%, 69%);

}

.snippets-p {
  margin-top: 7%;
}

.features {
  text-align:left;
}

.feature-item {
  margin: 2%;
  padding: 2%;
  width: 70%;
}

.device-img {
  padding: 7%;
}

#tools {
  padding: 5%;
}

#press {
  padding: 5%;
}

.press-logo {
  margin: 3%;
}

#footer {
  background-color: #EFEFEF;
  padding: 4%;
  text-align:left;
  margin-top: 8%;
}

.footer-links {
  padding: 3%;
}

.footer-img {
  width: 50px;
  height: 50px;
  float: left;
 margin-right: 7%;
}

.social-icons {
  margin: auto;
  padding: 5%;
}
